@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<iframe src='https://webchat.botframework.com/embed/SpotApp?s=RNTxu0aVqGc.cwA.geQ.xYKRRFZnP21xjnVSl-SZpe173hEcilFY7M_SexsbRKM' width="700" height="700"></iframe>
