<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--<connectionStrings>
	<add name="BotTest" connectionString="Data Source=tulsqlweek.database.windows.nets;Initial Catalog=SpotDB;User Id=sqladmin;Password=Password1" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
</connectionStrings>-->

</configuration>